<div class="container">
    <div class="col-md-5">
        <form [formGroup]="dataForm" (ngSubmit)="onSubmit()" class="form-group border p-3">
            <h3>Patient's Credentials</h3>
            <input type="hidden" id="id" />
            <div class="form-group">
                <label>First name</label>
                <input class="form-control" formControlName="firstname" placeholder="First name..." />
                <p class="alert alert-warning" [hidden]="dataForm.controls.firstname.valid || (dataForm.controls.firstname.pristine && !submitted)">
                    Please enter your first name.
                </p>
            </div>
            <div class="form-group">
                <label>Last name</label>
                <input class="form-control" formControlName="lastname" placeholder="Last name..." />
                <p class="alert alert-warning" [hidden]="dataForm.controls.lastname.valid || (dataForm.controls.lastname.pristine && !submitted)">
                    Please enter your last name.
                </p>
            </div>
            <!--- Patient's symptoms --------------------->

            <h4>What symptoms do you have?</h4>
            <form [formGroup]="symptomsForm" (ngSubmit)="onSubmit()" novalidate>
                <div *ngFor="let symptom of symptomsList; let i=index">
                    <input type="checkbox" id="symptom{{ symptom.id }}" [value]="symptom.name" (change)="onChange($event)" />
                    {{ symptom.name }}
                </div>
                <p class="error" *ngIf="this.symptomsForm.controls['sForm'].errors?.required">
                    Minimum 1 checkbox value is required.
                </p>
            </form>
            <hr/>
            <h5>List of symptoms before correction:</h5>
            <ul *ngFor="let s of this.getSymptoms">
                <li>{{ s }}</li>
            </ul>
            <br>
            <div class="form-group">
                <button type="submit" [disabled]="!dataForm.valid" class="btn btn-primary">Apply changes</button>
                <button class="btn btn-default" routerLink="/home">Cancel</button>
            </div>
        </form>
    </div>
</div>